*{
    box-sizing:border-box ;
    
}

body{
    margin: 0 auto;
    padding: 10px;
    width: 960px;
    min-height: 1100px;
    background-image:url(../images/image.avif);
    background-attachment: fixed;
    justify-content: center;
    display: flex;

}
body h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    text-align: center;
}
 body form{
    display: block;
   justify-content:center ; 
   width: 600px;
min-height: 800px;
   margin: 3px;
   padding: 5px;
   background-color:#0c8ab5;
   border-radius: 15px;
   outline: none;
}
 body form input, textarea{
    display: block;
    margin: 10px;
    padding: 15px;
    background-color: #fefbfb;
    color: black;
    width: 90%;
    outline: none;
    border-radius: 15px;
    border: none;
}
 body form label{
    margin: 10px;
    padding: 10px;
    display: flex;
    font-weight: 100px;
}
 body form div{
    display: flex;
    margin: 0;
    padding: 0;
    width: 90px;
}
 body form select{
    padding: 20px;
    border-radius:10px;
    border: 2px solid #f4ebeb;
    margin: 10px;
}
 body form textarea{
    background-color: white;
    color: black;
    font-size: 20px;
    resize: none;
}
 body form input[submit]{
    color: #f23838;
    cursor: pointer;
    font-size: medium;
}

